.product-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: background-color 500ms;
}

.product-card:hover > .entity-favourite-button {
  transform: scale(1);
}
