@import 'react-quill/dist/quill.snow.css';
@import "~react-image-gallery/styles/css/image-gallery.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

@keyframes pulse-ring {
    0% {
        transform: scale(.33);
    }
    80%, 100% {
        opacity: 0;
    }
}

@keyframes pulse-dot {
    0% {
        transform: scale(.8);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(.8);
    }
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
            to bottom,
            transparent,
            rgb(var(--background-end-rgb))
    ) rgb(var(--background-start-rgb));
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.loader {
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

.categories-item:not(:last-child) {
    border-bottom: solid 1px rgb(209 213 219);
}

/*cart table*/
td {
    padding: .5rem;
}

tr > td:not(:last-child) {
    border-right: 2px solid rgba(229, 231, 235, 1);
}

tbody > tr {
    border-top: 2px solid rgba(229, 231, 235, 1);
}

.field-label::after {
    content: '*';
    margin-left: 2px;
    font-size: 1rem;
    font-weight: normal;
    color: rgba(239, 68, 68, 1);
}

/*text editor*/
.ql-editor.ql-blank::before {
    font-style: normal !important;
}

.ql-container {
    font-family: inherit !important;
    font-size: inherit !important;
}

.ql-toolbar.ql-snow {
    border-right: none !important;
    border-top: none !important;
    border-left: none !important;
}

.ql-container.ql-snow {
    border: none !important;
}

/*images gallery*/
.gallery-small .image-gallery-left-nav,
.gallery-small .image-gallery-right-nav{
    transform: translateY(-50%) scale(.4)
}