@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}


td {
  padding: .5rem;
}

tr > td:not(:last-child) {
  border-right: 2px solid rgba(229, 231, 235, 1);
}

tbody > tr {
  border-top: 2px solid rgba(229, 231, 235, 1);
}

.field-label::after {
  content: '*';
  margin-left: 2px;
  font-size: 1rem;
  font-weight: normal;
  color: rgba(239, 68, 68, 1);
}

.field-textarea {
  height: 200px;
  padding: 10px;
  letter-spacing: 1px;
  border-radius: 20px;
  resize: none;
}

.field-textarea::placeholder {
  padding-top: 6px;
  font-size: 10px;
  font-family: inherit;
  letter-spacing: inherit;
}

.categories-item:not(:last-child) {
  border-bottom: solid 1px rgb(209 213 219);
}

.loader {
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}