@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}


td {
  padding: .5rem;
}

tr > td:not(:last-child) {
  border-right: 2px solid rgba(229, 231, 235, 1);
}

tbody > tr {
  border-top: 2px solid rgba(229, 231, 235, 1);
}

.field {
  display: flex;
  flex-direction: column;
  /*color: var(--custom-black-100);*/
}

.field-label::after {
  content: '*';
  margin-left: 2px;
  font-size: 1rem;
  font-weight: normal;
  /*color: var(--custom-red-50);*/
}

.field-input {
  border-radius: 8px;
  padding: 5px 10px;
}

.field-input::placeholder {
  font-size: 10px;
}

.field-input:active {
  /*border: 2px solid var(--custom-yellow-100);*/
}

.field-textarea {
  height: 200px;
  padding: 10px;
  letter-spacing: 1px;
  border-radius: 20px;
  resize: none;
}

.field-textarea::placeholder {
  padding-top: 6px;
  font-size: 10px;
  font-family: inherit;
  letter-spacing: inherit;
}